body {
    background-color: rgb(201, 33, 33);
    text-align: left;
}

p {
    color: azure;
}

.girafa {
     font-style: italic;
    color: aquamarine;
}

.ornitorrinco {
    width: 140%;
}
h1{
    text-align: left;
    font-style: italic;
}
h2{
   text-align: left;
}
h3{
    text-align: left; margin: 60%;
}
section {
    background: rgb(117, 43, 43);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: left;
  }
  