body {
    background-color:beige;
    margin: opx;
}

.girafa {
     font-style: italic;
    color: rgb(177, 30, 10);
}

.ornitorrinco {
    width: 50%;
}
h1{
    text-align: center;
    padding-top: 5;
}
h2{
   text-align: center;
}
h3{
    text-align: left; margin: 60%;
}
section {
    background: rgb(117, 43, 43);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
  }
  